<h2>Bloggers</h2>


  <% @bloggers.each do |blogger| %>

      <a href="/bloggers/<%= blogger.id %>">
        <%= blogger.name %>
      </a><br>
          <%= blogger.location %><br>
        <img class="face" src="<%= blogger.img_url %>">


  <% end %>
